<div style="display: grid; grid-column:1; grid-template-columns: 1; grid-template-rows: auto 3fr 2fr 3rem"
    class="h-screen px-1 bg-gray-100 divide-y-2 divide-black divide-opacity-5">

  <div class="mb-3">
    <span nz-typography nzType="secondary">Search by title and location</span>

    <ng-template #defaultTemplate let-selected> <i nz-icon [nzType]="selected.nzValue"></i> {{ selected.nzLabel }} </ng-template>
    <nz-select nzAllowClear nzPlaceHolder="What" nzMode="tags" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="store?.paramsToSend['title']">
      <nz-option *ngFor="let el of (store.data | async)" [nzLabel]="el['name']"  [nzValue]="el['id']"></nz-option>
    </nz-select>
    <ng-template #multipleTemplate let-selected>
      <div class="ant-select-selection-item-content">{{ selected.nzLabel }}</div>
    </ng-template>

    <div class="my-2">
      <input nz-input [(ngModel)]="store?.paramsToSend['where']"  placeholder="Where" />
    </div>


  </div>

  <div class="overflow-auto">
    <div class="overflow-x-hidden overflow-y-auto">
      <div class="">
        <span nz-typography nzType="secondary"><span nz-typography nzType="secondary">Category</span></span>
        <div  class="py-1" *ngIf="store.categories!=[]">
          <!--<nz-tag nzMode="closeable"  class="" (nzOnClose)="close_tag(111)"  >
           в разработке
          </nz-tag>-->
        </div>
        <input nz-input [(ngModel)]="store.categoriesFilter"  placeholder="Search category" class="" />
      </div>
      <div>
        <ul nz-menu nzMode="inline" >
          <li nz-submenu   [nzTitle]="el['name']"  (nzOpenChange)="el['isOpen']=!el['isOpen']"  *ngFor="let el of store.categories | async |  searchFilter: store.categoriesFilter"  >
            <div class="grid gap-2 py-2 ml-8 grid-col-1" *ngIf="el['isOpen']" >
              <div *ngFor="let elem of store.categoriesChildren[el['id']]['items']">
                <label nz-checkbox [(ngModel)]="elem['selected']" class="">{{elem['name']}}</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gap-1 my-3 overflow-x-hidden overflow-y-scroll divide-y-2 divide-black divide-opacity-5">
    <div>
      <ul nz-menu nzMode="inline" class="py-2">
        <li nz-submenu nzTitle="Job Type" class="py-2">
          <div class="grid gap-2 py-2 ml-8 grid-col-1" *ngIf="true">
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[11110]" class="">One time</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[11113]" class="">Part time</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[11114]" class="">Part time</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[11115]" class="">Full time</label></div>
            <div><nz-switch  [(ngModel)]="store?.paramsToSend[11119]"></nz-switch><span class="ml-2">I am looking for Intern</span></div>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <ul nz-menu nzMode="inline" class="py-2">
        <li nz-submenu nzTitle="Skill level" class="py-2">
          <div class="grid gap-2 py-2 ml-8 grid-col-1" *ngIf="true">
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[11111]" class="">Beginner</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[22222]" class="">Intermediate</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[33333]" class="">Expert</label></div>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <ul nz-menu nzMode="inline" class="py-2">
        <li nz-submenu nzTitle="Payment type" class="py-2">
          <div class="grid gap-2 py-2 ml-8 grid-col-1" *ngIf="true">
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[44444]" class="">Hourly</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[55555]" class="">Budget</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[66666]" class="">Salary</label></div>
            <div><label nz-checkbox [(ngModel)]="store?.paramsToSend[77777]" class="">No Reward</label></div>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <ul nz-menu nzMode="inline" class="py-2">
        <li nz-submenu nzTitle="Payment rate" class="py-2">
          <div class="grid gap-2 py-2 mb-2 ml-8 grid-col-1" *ngIf="true">
            <div>
              <nz-input-number nzPlaceHolder="$ min" [(ngModel)]="store?.paramsToSend[12345]" [nzMin]="1" [nzMax]="" [nzStep]="1"></nz-input-number>
              <span class="mx-2">-</span>
              <nz-input-number nzPlaceHolder="$ max" [(ngModel)]="store?.paramsToSend[123456]" [nzMin]="1" [nzMax]="" [nzStep]="1"></nz-input-number>
            </div>
            <div><nz-switch [(ngModel)]="store?.paramsToSend[1234567]"></nz-switch><span class="ml-2" >Interval rate</span></div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="">
    <div class="flex items-stretch m-2">
      <div class="flex-auto"><button nz-button nzType="link">Cancel</button></div>
      <div class="flex-auto pr-2 text-right"><button nz-button nzType="primary" (click)="sendData()">Save</button></div>
    </div>
  </div>
</div>
