<div class="h-screen" style="height: 100vh; display: grid; grid-template-columns: 24rem 1fr; grid-template-rows: 1fr;">
  <div class="h-screen">
    <app-filter ></app-filter>
  </div>
  <div class="bg-red-50">
    <pre>{{store.data_to_send | json}}</pre>
  </div>
</div>






